.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin-top: 120px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    /* Adjust the maximum width as needed */
    width: 100%;
    margin: 0 auto;
    /* Center the card horizontally */
    text-align: center;
    /* Center the content within the card */
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

.button-item {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-item:hover {
    background-color: #4caf50;
    color: white;
}

.image-admin {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto 20px;
    /* Center the image and add margin below it */
    border: 2px solid #ddd;
    /* Add a border around the image */
    border-radius: 5px;
    /* Add rounded corners to the border */
    padding: 5px;
    /* Add some padding inside the border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow to the border */
}

.adding {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    padding-left: 20px;
}

.li-admin {
    list-style: none;
}

.fa {
    margin-left: 5px;
}

.select-admin {
    display: inline-block;
}