* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

legend {
  font-size: large;
  font-weight: bolder;
}

label {
  font-weight: bolder;
}

form div {
  margin: 20px;
}

.big {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.small, select {
  width: 20%;
  display: block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

 button {
  background-color:  rgba(0, 0, 255, 0.8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    margin: 0x 10px;
    background-color: #f44336;
    
  }

  .container {
    background-color: #f1f1f1;
    padding: 16px;
    }

  span.psw {
    float: left;
    margin: 10px;
    padding-top: 16px;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    border-radius: 50%;
  }

  a, a:visited {
    color: black;
  }

  /* Change styles for span and cancel button on extra small screens */

  @media screen and (max-width :850px) {
    .small, select {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    span.psw {
       display: block;
       float: none;
       text-align: center;
    }
    .cancelbtn {
       width: 100%;
    }

    input[type="checkbox"]
    {
      display: block;
    }
  
  }

 
